﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Mvc_no_autenticacion.Models.Libro>
<h1>Bienvenido Alex</h1>

<div class="container">
    @if (TempData["mensaje"] != null)
        {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" date-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        }
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de Libros</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Libros">Ageregar</a>
        </div>
    </div>
    <div class="row">
        @if (Model.Count() > 0)
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>
                                @Html.DisplayNameFor(m => m.Id)
                            </td>
                            <td>
                                @Html.DisplayNameFor(m => m.Titulo)
                            </td>
                            <td>
                                @Html.DisplayNameFor(m => m.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayNameFor(m => m.FechaLanzamiento)
                            </td>
                            <td>
                                @Html.DisplayNameFor(m => m.Autor)
                            </td>
                            <td>
                                @Html.DisplayNameFor(m => m.Precio)
                            </td>
                            <td>
                                Acciones
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    @item.Titulo
                                </td>
                                <td>
                                    @item.Descripcion
                                </td>
                                <td>
                                    @item.FechaLanzamiento
                                </td>
                                <td>
                                    @item.Autor
                                </td>
                                <td>
                                    @item.Precio
                                </td>
                                <td>
                                    <a asp-controller="Libros" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                    <a asp-controller="Libros" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No Existen Registros</p>
            }
    </div>
</div>